.app {
  background: url(../../../assets/mainbg.png);
  background-size: cover;
  background-position: center;
}

.btn-about {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.intro-about {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.text-about {
  width: 80%;
  font-size: 1.15rem;
  font-family: "Lora";
  font-style: italic;
}

.first-img {
  position: relative;
  color: #fff;
  font-size: 50px;
  text-align: center;
  line-height: 50px;
}

.text-first {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: "Lobster";
}

.bg-first {
  background: url(../../../assets/first-img.jpg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 600px;
}

.bg-second {
  background: url(../../../assets/4th-img.jpg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 600px;
}

.bg-third {
  background: url(../../../assets/third-img.png);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 600px;
}

.bg-4th {
  background: url(../../../assets/5th-img.jpg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 600px;
}
