@import url("https://fonts.googleapis.com/css?family=Patrick+Hand+SC|Roboto&display=swap");

.ant-card-bordered {
  border: 0px;
}
.ant-card-meta-title {
  font-size: 50px;
  margin-bottom: 0;
  color: #925f53;
  padding-top: 5px;
  font-family: "Lora" !important;
  font-weight: 400;
  letter-spacing: 0em;
}

.ant-card-meta-description {
  font-size: 18px;
}

.ant-card-body {
  padding-top: 0;
}

.ant-card-meta-detail {
  margin-bottom: 3px;
}
